/* Shared Styles */

* {

    font-family: 'Work Sans', sans-serif;
    margin: 0px;

}

.light-gray {
    margin: 30px 0px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.dark-gray {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.primary-btn {

    /* margin: 35px 0px; */
    color: #FFF;
    width: 180px;
    height: 64px;
    font-size: 1.25rem;
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
    border: 0;

}

/*Header RELATED STYLES*/

header {

    background: rgba(255, 144, 14, 0.10);
    background-size: cover;
    padding: 50px 240px;

}

/*NAV RELATED STYLES*/

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {

    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}

nav>ul {

    display: flex;

}

nav li {

    margin-right: 30px;
    list-style: none;
    font-weight: 500;
    font-weight: 1rem;

}

.nav-list {

    display: flex;

}

nav li a {

    text-decoration: none;
    color: #424242;

}

/* Banner Related Styles */

.banner {}

.banner-content {

    max-width: 800px;
    margin: 0px auto;
    text-align: center;

}

.banner-title {

    margin-top: 100px;
    font-weight: 700;
    font-size: 4rem;
    color: #131313;

}


.banner img {
    margin-top: 70px;
    width: 100%;
    height: 100%;

}



/* Main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 240px;
}

.teams-container {

    display: flex;
    align-items: center;

}

.team-img {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.teams-content {
    padding: 70px 70px;

}

.teams-title {
    margin-top: 30px;
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

/* .teams-title .of-our {

    color: #131313;
    font-weight: 700;

} */

.teams-title .features {
    color: #FF900E;
    font-weight: 700;
}

/* Facts section style */
.fact-container{
margin: 150px 0px;
}

.facts-title {}

.facts-description {}

.fact-card-container {
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
}

.facts {
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facts-card-title {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}

.facts-content {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}


/* Responsive Styles */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .team-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .team-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

}